*{
    margin: 0;
    padding: 0;
}
 
body{
    background-image: url(img/smiley-emoticon-clip-art-big-smile-face-7385d1ece37a5ddb0b7e0f5f7dd64622.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

color: rgb(142, 160, 155);
font-family: 'Roboto',sans-serif;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows:repeat(4, auto);

    grid-template-areas: "header    header    header"
                         "contenido contenido sidebar"
                         "widget-1   widget-2   sidebar"
                         "footer     footer     footer";
}

.container>div,
.container .header,
.container .sidebar,
.container .footer,
.container .contenido
{
    background: rgba(73, 71, 71, 0.774);
    padding: 20px;
    border-radius: 4px;
}

.container .header{
    background: rgb(68, 66, 66);
    color: white;
    /* Esto es una forma de hacerlo pero no es la mas recomendada */
    /* grid-column-start:1 ;
    grid-column-end:4 ; */
    grid-area: header;

}

.container .contenido{
    /* grid-column: span 2; */
    grid-area: contenido;
}

.container .sidebar{
    grid-column: 3/4;
    background: rgba(221, 144, 44, 0.733);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /* grid-row: span 2; */
    grid-area: sidebar;
}

.container .widget-1,
.container .widget-2{
    background: #55a9fdc4;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .widget-1{
    grid-area: widget-1;
}

.container .widget-2{
    grid-area: widget-2;
}

.container .footer{
    background: #12203ed3;
    color: #fff;
    /* grid-column: span 3; */
    grid-area: footer;
}

.MB{
    width: 40%;
    height: 110%;
}

.MBs{
    width: 100%;
    height: 70%;
}

/* @media screen and (max-width:768px){
    .container .contenido{
        grid-column: 1 / -1;
    }

    .container .sidebar{
        grid-column: 1/-1;
    }

    .container .widget-1{
        grid-column: span 2;
    }
} */

@media screen and (max-width: 768px){
    .container{
        grid-template-areas: "header    header    header"
                             "contenido contenido contenido"
                             "sidebar   sidebar   sidebar"
                             "widget-1  widget-1  widget-2"
                             "footer    footer    footer";
    }
}
